body {
  font-family: 'Unbounded', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px; /* Уменьшенный размер лого */
  margin-bottom: 20px;
}

.instruction {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 800; /* ExtraBold */
}

button {
  background-color: #98fb98; /* Приглушенный салатовый */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px; /* Закругленные углы */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 800; /* ExtraBold */
}

button:active {
  background-color: #fa8072; /* Приглушенный лососевый */
}

#sphereDisplay {
  font-size: 42px; /* Чуть больше размер шрифта */
  color: #4682b4; /* Приглушенный синий */
  margin: 40px 0; /* Большой отступ */
  font-weight: 800; /* ExtraBold */
  opacity: 0; /* Изначально скрыто */
  transition: opacity 0.5s;
}

#taskMessage {
  font-size: 24px;
  color: #333;
  margin-top: 20px; /* Отступ */
  font-weight: 800; /* ExtraBold */
  opacity: 0; /* Изначально скрыто */
  transition: opacity 0.5s;
}